html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

div#header,
div#searchHeader {
	border-bottom: 1px black solid;
	color: #7DA7BF;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

div#header > div.container,
div#searchHeader > div.container{
	max-width: 100%;
	padding: 1rem;
}

div#header div.container > img,
div#searchHeader div.container > img {
	display: block;
	width: 6rem;
	margin: .5rem auto;
}

div#header a:last-child,
div#searchHeader a:last-child {
	margin-top: 1rem;
	display: inline-block;
}

h1 > a {
	text-decoration: underline;
	font-weight: bold;
}

h1 > a:visited {
	color: purple;
}

div#gallery,
div#search {
	text-align: center;
	margin-top: 3rem;
	max-width: 100%;
}

div#gallery > img,
div#search > img {
	padding: .5rem;
	border: 1px black solid;
	border-radius: 2px;
	margin: 1.75rem;
	width: 150px;
	height: 200px;
	cursor: pointer;
	box-shadow: 8px 8px 4px #DDD8D5;
}

div#credit {
	font-weight: 300;
	font-size: .75rem;
	max-width: 100%;
	padding: .5rem;
}

div#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: none;
    text-align: center;
}

div#modal {
	z-index: 999;
	height: 600px;
	width: 90%;
	position: absolute;
	top: 10%;
	left: 5%;
	background-color: white;
	display:none;
	text-align: right;
	border: 1px black solid;
	border-radius: 2px;
}

div#modal > span#close {
	padding: 1rem;
	color: black;
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	transition: .5s;
}

div#modal > span#close:hover {
	transform: scale(1.2);
}

div#modal > h2,
div#modal > p {
	text-align: center;
	padding: 1rem;
	font-weight: 300;
}

div#modal > a {
	text-align: center;
	display: block;
	padding: 1rem;
}

div#modal span {
	font-weight: 700;
}

div#modal > img {
	position: absolute;
	right: 18%;
	margin-top: .5rem;
}

@media screen and (min-width: 400px) {
	div#modal > img {
		right: 22%;
	}

	div#search div.container input {
		width: 50%;
	}

	div#search div.container input:last-child {
		width: 25%;
		margin-left: .5rem;
	}
}


@media screen and (min-width: 768px) {
	
	div#header,
	div#searchHeader {
		flex-direction: row;
	}

	div#header > div.container,
	div#searchHeader > div.container {
		width: 50%;
	}

	div#modal {
		height: 95%;
		width: 70%;
		top: 2.5%;
		left: 15%;
	}

	div#modal > img {
		right: 35%;
		margin-top: 3rem;
	}

	div#search div.container label {
		margin-right: 1rem;
	}

	div#search div.container input {
		width: 40%;
	}

	div#search div.container input:last-child {
		width: 15%;
		margin-left: 1rem;
	}
}

@media screen and (min-width: 1010px) {
	div#modal > img {
		right: 41%;
	}
}

